<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StackOverFlowPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupMainServlet</display-name>
    <servlet-name>SignupMainServlet</servlet-name>
    <servlet-class>com.controller.SignupMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupMainServlet</servlet-name>
    <url-pattern>/SignupMainServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listner.ConnectDBServer</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginMainServlet</display-name>
    <servlet-name>LoginMainServlet</servlet-name>
    <servlet-class>com.controller.LoginMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginMainServlet</servlet-name>
    <url-pattern>/LoginMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskAQuestionHomeServlet</display-name>
    <servlet-name>AskAQuestionHomeServlet</servlet-name>
    <servlet-class>com.controller.AskAQuestionHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskAQuestionHomeServlet</servlet-name>
    <url-pattern>/AskAQuestionHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskAQuestionHomeServletR</display-name>
    <servlet-name>AskAQuestionHomeServletR</servlet-name>
    <servlet-class>com.controller.AskAQuestionHomeServletR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskAQuestionHomeServletR</servlet-name>
    <url-pattern>/AskAQuestionHomeServletR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutMainServlet</display-name>
    <servlet-name>LogoutMainServlet</servlet-name>
    <servlet-class>com.controller.LogoutMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutMainServlet</servlet-name>
    <url-pattern>/LogoutMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllQuestionHome</display-name>
    <servlet-name>ListAllQuestionHome</servlet-name>
    <servlet-class>com.controller.ListAllQuestionHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllQuestionHome</servlet-name>
    <url-pattern>/ListAllQuestionHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAnotherQuestionHome</display-name>
    <servlet-name>ListAnotherQuestionHome</servlet-name>
    <servlet-class>com.controller.ListAnotherQuestionHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAnotherQuestionHome</servlet-name>
    <url-pattern>/ListAnotherQuestionHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListParticularQuestion</display-name>
    <servlet-name>ListParticularQuestion</servlet-name>
    <servlet-class>com.controller.ListParticularQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListParticularQuestion</servlet-name>
    <url-pattern>/ListParticularQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerSendAnother</display-name>
    <servlet-name>AnswerSendAnother</servlet-name>
    <servlet-class>com.controller.AnswerSendAnother</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerSendAnother</servlet-name>
    <url-pattern>/AnswerSendAnother</url-pattern>
  </servlet-mapping>
</web-app>